/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";

.block-authorization {
  margin: 10px;
  p {
    margin: 0px
  }
}

.block-translator {
  margin: 100px auto;
  border: 1px solid green;
  padding: 10px;
  .lang-block {
    margin-bottom: 5px;
    .left-block {
    }
    .center-block {
      .exchange {
        text-align: center;
        .fa-exchange-text {
          font-size: 30px;
          cursor: pointer;
        }
      }
    }
    .right-block {
    }
  }
}

.block-history-translator {
  p {
    margin-left: 40px;
  }
  li {
    display: inline-block;
    padding-right: 10px;
  }
}

.form-authorization {
  width: 300px;
  margin: 100px auto;
}